---
const { sorttext, hvidtext } = Astro.props;
---

<section>
  <div class="orangebagrund border-1">
    <h2>
      <span class="skrå-sort">{sorttext}</span><br /><span class="skrå-hvid">
        {hvidtext}</span
      >
    </h2>
  </div>
  <div class="text">
    <slot />
  </div>
</section>
<style>
  .text {
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  h2 {
    font-weight: 200;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
    border-top: var(--border-2px);
    border-bottom: var(--border-2px);
  }

  .orangebagrund {
    background-color: var(--lyse-orange);
    padding: 10px 30px 10px 30px;
  }
  .border-1 {
    border-bottom: var(--border-2px);
  }
  @media only screen and (min-width: 800px) {
    h2 {
      font-size: 2.5rem;
      padding-left: 30px;
    }
    .orangebagrund {
      justify-items: center;
      align-content: space-evenly;
    }
    .border-1 {
      border-bottom: 0px solid;
    }
    section {
      grid-template-columns: 1fr 1fr;
      border-top: var(--border-3px);
      border-bottom: var(--border-3px);
    }
    .text {
      padding: 50px 70px 50px 70px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
</style>
