---
const { pris, træ, mål, nummer } = Astro.props;

const { data } = Astro.props;
---

<div class="boks">
  <h3>INFO</h3>
  <ul class="tabel">
    <li class="row">
      <p class="spørgsmål">Fødevaregodkendt</p>
      <p class="svar">Ja</p>
    </li>
    <li class="row">
      <p class="spørgsmål">Pris</p>
      <p class="svar">{pris}</p>
    </li>
    <li class="row">
      <p class="spørgsmål">Træ</p>
      <p class="svar">{træ}</p>
    </li>
    <li class="row">
      <p class="spørgsmål">Mål</p>
      <p class="svar">{mål}</p>
    </li>
    <li class="row">
      <p class="spørgsmål">Produktnummer</p>
      <p class="svar">{nummer}</p>
    </li>
  </ul>
</div>

<style>
  .boks {
    padding: 0px 50px 0px 50px;
    h3 {
      padding-bottom: 30px;
    }
  }

  .tabel {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .tabel {
    display: flex;
    flex-direction: column;
    /* padding: 0px 50px 0px 50px; */
  }

  .row {
    display: flex;
    justify-content: space-between; /* Placerer svaret helt til højre */
    margin-bottom: 10px; /* Mellemrum mellem hver række */
    border-bottom: 1px solid var(--sort); /* Border under spørgsmålet */
    padding-bottom: 5px; /* Afstand mellem spørgsmål og border */
  }

  .spørgsmål {
    flex: 1; /* Spørgsmålet tager så meget plads som muligt */
    text-transform: uppercase; /* Gør teksten til store bogstaver */
  }

  /* styl til ul skal i general */
  h3 {
    text-transform: uppercase; /* Gør teksten i h3 til store bogstaver */
  }

  /* styl til ul skal i general */
  .info ul li {
    text-transform: uppercase;
    font-family: Arimo, sans-serif;
    padding-left: 50px; /* Gør teksten i h3 til store bogstaver */
    font-style: normal;
  }

  @media (min-width: 769px) {
    .boks {
      padding: 5rem;
    }
    .tabel {
      display: flex;
      flex-direction: column;
    }
  }
</style>
