<div class="border-1">
  <h3>
    Læs <span class="fed-orange">processen </span>
    <br /> herunder
  </h3>

  <p class="håndskrift">Hold musen over billederne for at læse mere</p>
</div>
<style>
  h3 {
    font-style: italic;
    font-size: 2rem;
    font-family: "argent-cf", serif;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--sort);
  }

  .border-1 {
    border-bottom: var(--border-2px);
  }
  div {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  .håndskrift {
    display: none;
    justify-content: end;
    align-self: flex-end;
  }
  @media only screen and (min-width: 800px) {
    .håndskrift {
      display: flex;
      justify-content: end;
      align-self: flex-end;
    }
    .border-1 {
      border-bottom: var(--border-3px);
    }
  }
</style>
