---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<div class="pil">
  <a href={href}><img src="/drej-billeder/pil.svg" alt="" /></a>
</div>

<style>
  .pil {
    margin-top: 2rem;
    margin-left: 1.4rem;
  }
</style>
