---
const { href } = Astro.props;
---

<div class="pil">
  <a href={href}> <img src="/drej-billeder/pil.svg" alt="" /></a>
</div>

<style>
  .pil {
    display: flex;
    justify-content: flex-start;
    padding: 20px 30px 20px 30px;
    a {
      display: grid;
      place-items: center;
    }
  }
</style>
