---
const { data } = Astro.props;
console.log(data.id);
---

<div class="container">
  <a href={`produktliste/${data.id}`}>
    <img class="skål" src={`/drej-billeder/${data.img2}`} alt="" />

    <img class="pil" src="/./drej-billeder/orangepil.svg" alt="Pil" />
  </a>
</div>

<style>
  .container a {
    background-color: var(--baggrund);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
  }

  .skål {
    width: 100%;
    height: auto;
    display: block;
  }

  .pil {
    /* skal være støre generelt */
    display: flex;
    align-items: flex-end;
    transition: ease-in-out 0.4s;
  }

  .pil:hover {
    transform: scale(1.9);
  }
</style>
