---
const { data } = Astro.props;
console.log(data.id);
---

<a href={`produktliste/${data.id}`}>
  <div class="grid">
    <img class="skål" src={`/drej-billeder/${data.img2}`} alt="" />
    <img class="pil" src="/./drej-billeder/orangepil.svg" alt="Pil" />
  </div>
</a>

<style>
  a {
    background-color: var(--baggrund);
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1;
    justify-items: stretch;
  }

  .skål {
    display: block;
    object-fit: cover;
    grid-column: 1;
  }

  .pil {
    width: 30px;
    grid-column: 1;
    object-fit: cover;
    justify-self: flex-end;
    padding: 0px 10px 10px 0px;
    transition: ease-in-out 0.2s;
  }

  .pil:hover {
    transform: scale(1.9);
  }
</style>
