---
import Menylayout from "../komponenter/layouts/Menylayout.astro";
import "../styles/generel.css";
import Boks from "../komponenter/Boks.astro";
---

<Menylayout>
<<<<<<< HEAD
  <section class="grid">
    <img
      class="forside_billede"
      src="/drej-billeder/Forside_billede.webp"
      alt=""
    />
    <h1 class="h1_forside">
      "ALT HAR EN FORTID, <br /> EN <span class="skrå-orange">FORTÆLLING</span>
      <br /> OG EN FREMTID"
    </h1>

    <!-- <div class="forside_drej"> -->
    <p>DREJ BY JK</p>
    <!-- </div> -->
  </section>
  <Boks sorttext="SKÅLE OG FADE" hvidtext="MED EN MISSION">
    <p>Drej skaber smukke skåle og fade af træ.</p>
    <p>
      Det fylder mig med glæde, når mine skåle og fade bliver fyldt med salater,
      frugter og friskbagte boller. Med strikketøj, legetøj, tøjdyr og alt
      muligt andet.
    </p>
    <p>
      Jeg skaber ting, der skal bruges. Men jeg håber også, at træets
      fantastiske former og farver kan minde os om, hvor fascinerende naturen
      er. Og hvor vigtigt det er, at alle er med til passe godt på den.
    </p>
  </Boks>

  <div class="udforsk">
    <h2>UDFORSK</h2>
  </div>
  <section class="grid2_2">
    <a href=""><img src="/drej-billeder/produkter.svg" alt="" /></a>
    <a href=""><img src="/drej-billeder/mig.svg" alt="" /></a>
    <a href=""><img src="/drej-billeder/projekter.svg" alt="" /></a>
    <a href=""><img src="/drej-billeder/kontakt.svg" alt="" /></a>
  </section>
</Menylayout>
=======
    <section class="grid">
      <img
        class="forside_billede"
        src="/drej-billeder/Forside_billede.webp"
        alt=""
      />
      <h1 class="h1_forside">
        "ALT HAR <div class="tekst_orange">
          <span class="sort_tekst">EN FORTID, EN</span> FORTÆLLING
        </div>
         OG EN FREMTID"
      </h1>
    </section>
    <div class="forside_drej">
      <p>DREJ BY JK</p>
    </div>
    <section class="grid1_2">
      <div class="forside_orange">
        <div class="orange_tekst">
          <h2 class="skrå-sort">
           skåle og fade med en <span class="skrå-hvid">mission</span>
          </h2>
        </div>
      </div>
      <div class="tekst_forside">
        <p>
          Drej skaber smukke skåle og fade af træ. <br />Det fylder mig med
          glæde, når mine skåle og fade bliver fyldt med salater, frugter og
          friskbagte boller. Med strikktøj, legetøj, tøjdyr og alt muligt andet.
  

          <br />Jeg skaber ting, der skal bruges. Men jeg håber også, at træets
          fantastiske former og farver kan minde os om, hvor fascinerende
          naturen er. Her at alle er med til at passe godt på dem.
        </p>
      </div>
    </section>
    <div class="udforsk">
      <h2>UDFORSK</h2>
    </div>
    <section class="grid2_2">
      <a href="/produktliste"><img src="/drej-billeder/produkter.svg" alt="" class="menu-logo"/></a>
      <a href="/om"><img src="/drej-billeder/mig.svg" alt="" class="menu-logo" /></a>
      <a href="/projekter"><img src="/drej-billeder/projekter.svg" alt="" class="menu-logo" /></a>
      <a href="/kontakt"><img src="/drej-billeder/kontakt.svg" alt="" class="menu-logo" /></a>
    </section>



 </Menylayout>
>>>>>>> 6c6e55c4ae403a7e59f17861c8759e23d8e19c35

<style>
  /* img {
    width: 100%;
    height: auto;
<<<<<<< HEAD
  } */

  /* body {
    background-color: #e2d6c6;
  } */
  /* 
=======
    margin-top: 10%;
    margin-bottom: 10%;
  }



>>>>>>> 6c6e55c4ae403a7e59f17861c8759e23d8e19c35
  .tekst_orange {
    color: #e18658;
  } */

<<<<<<< HEAD
  /* .sort_tekst {
    color: black;
  } */
=======
  .sort_tekst {
    color: var(--sort, #000000);
  }
>>>>>>> 6c6e55c4ae403a7e59f17861c8759e23d8e19c35

  /* .h1_forside {
    text-align: left;
    margin-left: 4rem;
  } */

  /* .forside_drej {
    text-align: right;
    margin-right: 3rem;
  } */

  /* .mission {
    color: white;
  } */

  .forside_billede {
    max-width: 60%;
  }

  /* .forside_orange {
    padding: 2rem;
    border: solid 1px #e18658;
    background-color: #e18658;
  } */
  /* 
  .orange_tekst {
    margin-left: 2rem;
  } */

  .udforsk {
    margin-left: 4rem;
    margin-top: 3rem;
  }

  .tekst_forside {
    padding: 4rem;
    border-bottom: solid 2px #e18658;
  }

  .grid2_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin-left: 2rem;
  }
<<<<<<< HEAD
  h1 {
    font-size: 3rem;
  }
=======
  .menu-logo {
      transition: transform 0.3s;
  }
  
  .menu-logo:hover {
      transform: scale(1.1);
  }

>>>>>>> 6c6e55c4ae403a7e59f17861c8759e23d8e19c35
  @media screen and (min-width: 768px) {
    /* img {
      width: 100%;
      height: auto;
<<<<<<< HEAD
    } */
=======
      margin: 10%;
    }
>>>>>>> 6c6e55c4ae403a7e59f17861c8759e23d8e19c35
    .grid {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      padding: 100px;
    }
    .h1_forside {
      order: -1;
    }

    .forside_drej {
      text-align: right;
      margin-right: 62rem;
    }

    /* .mission {
      color: white;
    } */

    .forside_billede {
      max-width: 70%;
      margin-left: 4rem;
    }

    /* .forside_orange {
      padding: 2rem;
      margin-right: 3rem;
      border: solid 1px #e18658;
      background-color: #e18658;
    } */

    /* .orange_tekst {
      margin-top: 4rem;
      margin-left: 5rem;
    } */

    .grid1_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: solid 3px #e18658;
      border-bottom: solid 3px #e18658;
    }

    /* .udforsk {
      margin-left: 7rem;
      margin-top: 3rem;
    } */

    /* .tekst_forside {
      padding: 4rem;
      margin-right: 5rem;
      border: none;
    } */

    .grid2_2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 80%;
      margin-left: 8.5rem;
    }
  }
</style>
