---
import Menylayout from "../komponenter/layouts/Menylayout.astro";
// import "../styles/generel.css";
import Boks from "../komponenter/Boks.astro";
---

<Menylayout title="forside">
  <section class="grid">
    <img
      class="forside_billede"
      src="/drej-billeder/Forside_billede.webp"
      alt=""
    />
    <div class="flex">
      <h1 class="h1_forside">
        "ALT HAR EN FORTID, <br /> EN <span class="skrå-orange">FORTÆLLING</span
        >
        <br /> OG EN FREMTID"
      </h1>

      <!-- <div class="forside_drej"> -->
      <p>DREJ BY JK</p>
    </div>
    <!-- </div> -->
  </section>
  <Boks sorttext="SKÅLE OG FADE" hvidtext="MED EN MISSION">
    <p>Drej skaber smukke skåle og fade af træ.</p>
    <p>
      Det fylder mig med glæde, når mine skåle og fade bliver fyldt med salater,
      frugter og friskbagte boller. Med strikketøj, legetøj, tøjdyr og alt
      muligt andet.
    </p>
    <p>
      Jeg skaber ting, der skal bruges. Men jeg håber også, at træets
      fantastiske former og farver kan minde os om, hvor fascinerende naturen
      er. Og hvor vigtigt det er, at alle er med til passe godt på den.
    </p>
  </Boks>

  <div class="udforsk">
    <h2>UDFORSK</h2>
  </div>
  <div class="link-boks">
    <a href="/produktliste" class="image-link">
      <div class="image-container-pr"></div>
    </a>
    <a href="/projekter" class="image-link">
      <div class="image-container-p"></div>
    </a>
    <a href="/om" class="image-link">
      <div class="image-container-m"></div>
    </a>

    <a href="/kontakt" class="image-link">
      <div class="image-container-k"></div>
    </a>
  </div>
</Menylayout>

<style>
  /* Grundlæggende styling */
  .image-link {
    display: inline-block;
    text-decoration: none;
  }
  /* prjekter */
  .image-container-p {
    width: 250px;
    height: 320px;
    background-image: url("/drej-billeder/projekter.svg");
    background-size: cover;
    background-position: center;
    transition: ease-in 0.4s;
  }
  .image-link:hover .image-container-p {
    background-image: url("/drej-billeder/projekter_overlay.svg");
  }
  /* kontakt */
  .image-container-k {
    width: 250px;
    height: 320px;
    background-image: url("/drej-billeder/kontakt.svg");
    background-size: cover;
    background-position: center;
    transition: ease-in 0.4s;
  }

  .image-link:hover .image-container-k {
    background-image: url("/drej-billeder/kontakt_overlay.svg");
  }
  /* om */
  .image-container-m {
    width: 250px;
    height: 320px;
    background-image: url("/drej-billeder/mig.svg");
    background-size: cover;
    background-position: center;
    transition: ease-in 0.4s;
  }

  .image-link:hover .image-container-m {
    background-image: url("/drej-billeder/mig_overlay.svg");
  }
  /* produkter*/
  .image-container-pr {
    width: 250px;
    height: 320px;
    background-image: url("/drej-billeder/produkter.svg");
    background-size: cover;
    background-position: center;
    transition: ease-in 0.4s;
  }

  .image-link:hover .image-container-pr {
    background-image: url("/drej-billeder/produkter_overlay.svg");
  }
  .flex {
    order: -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
  }

  .forside_billede {
    max-width: 60%;
  }

  h1 {
    font-size: 3rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    align-items: center;
  }
  .udforsk {
    display: flex;
    justify-content: flex-start;
    padding: 20px 10px 20px 30px;
  }
  .link-boks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    border-top: 2px solid var(--mørke-orange);
    border-bottom: 2px solid var(--mørke-orange);
  }
  @media screen and (min-width: 768px) {
    .link-boks {
      border-top: 3px solid var(--mørke-orange);
      border-bottom: 3px solid var(--mørke-orange);
    }
    .grid {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      padding: 100px;
    }
    .h1_forside {
      order: -1;
    }

    .forside_drej {
      text-align: right;
      margin-right: 62rem;
    }

    .forside_billede {
      max-width: 70%;
      margin-left: 4rem;
    }

    .grid1_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: solid 3px #e18658;
      border-bottom: solid 3px #e18658;
    }

    .grid2_2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 80%;
      margin-left: 8.5rem;
    }
  }
</style>
