---
import Menylayout from "../komponenter/layouts/Menylayout.astro";
import "../styles/generel.css";
---

<div class="ap">
  <img class="video" src="../../drej-billeder/drej.gif" alt="" />
  <div>
    <a class="flex" href="/forside">
      <p class="link-tekst">DREJ-BY-JK</p>
      <img class="pil" src="../../drej-billeder/pilkontakt.svg" alt="" />
    </a>
  </div>
</div>

<style>
  .ap {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .video {
    grid-column: 1;
    align-self: center;
    rotate: -2deg;
  }
  .flex {
    grid-column: 1;
    justify-content: end;
  }
  a {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 40px;
    text-decoration: none;
    color: var(--sort);
  }
</style>
