---
import Boks from "../komponenter/Boks.astro";
import Menylayout from "../komponenter/layouts/Menylayout.astro";
import Omboks from "../komponenter/Omboks.astro";
---

<Menylayout>
  <section class="grid_1_1">
    <div class="titel">
      <h1 class="desk_h1">MØD MANDEN <br /> BAG DREJ</h1>
    </div>
    <div>
      <img class="jens" src="../../drej-billeder/drej.webp" alt="" />
    </div>
  </section>

  <Boks sorttext="PASSION FOR" hvidtext="træ">
    <p>
      Velkommen til drej-by-jk - det hyggelige pensionistdrejeværksted i hjertet
      af Kregme, hvor træ forvandling er vores lidenskab.
    </p>
    <p>
      Vi finder glæde i at skabe unikke og smukke genstande fra det bedste
      danske træ, lige fra skoven til vores drejebænk.
    </p>
  </Boks>

  <div class="grid">
    <div class="streg-1">
      <Omboks
        h3text="Naturens smukke former"
        text1="Denne røde tråd i mit liv har været en stor interesse for det grønne. Fra en barndom på landet og en ungdom som skovarbejder i Canada, videre til uddannelse på Landbohøjskolen og forsker på universitet og nu på værkstedet i Kregme."
        text2="Hele vejen har jeg været dybt fascineret af naturens magiske former og fantastiske egenskaber. Når vi mennesker arbejder med naturen, er det vores vigtigste opgave at få naturen til at stå stærkere og flottere."
      />
    </div>
    <div class="streg-2">
      <section class="grid_1_1">
        <div class="billede">
          <img src="../../drej-billeder/marked.webp" alt="" />
        </div>
        <div class="billede">
          <img src="../../drej-billeder/marked.webp" alt="" />
        </div>
      </section>
    </div>
    <div class="streg-1">
      <Omboks
        h3text="KIG FORBI"
        text1="Du kan lave en aftale om et besøg på vores værksted. Kom gerne forbi vi og se, hvordan vi arbejder med træet. Og faktisk må du ikke bare kigge på. Du får også lov til at røre."
        text2="Du kan også kigge forbi, når vi sælger vores skåle og fade på Kildemarkedet i Tisvilde i august og julemarkedet på Grønnessegaard Gods."
      />
    </div>
    <div class="flex-kontakt">
      <h4>Følg med for at se hvor vi er <br /> næste gang</h4>
      <div class="medier">
        <img class="sociale" src="../../drej-billeder/facebook.webp" alt="" />
        <img class="sociale" src="../../drej-billeder/insta.webp" alt="" />
      </div>
      <div class="boks_2">
        <h2 class="kontakt">KONTAKT MIG</h2>
        <img class="pil" src="../../drej-billeder/pil.png" alt="" />
      </div>
    </div>
  </div>
  <section class="grid_1_1_1">
    <div class="billede">
      <img src="../../drej-billeder/jens.webp" alt="" />
    </div>
    <div class="billede">
      <img src="../../drej-billeder/salg.webp" alt="" />
    </div>
    <div class="billede">
      <img src="../../drej-billeder/skur.webp" alt="" />
    </div>
  </section>
</Menylayout>

<style>
  .flex-kontakt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 2px solid var(--mørke-orange);
    h4 {
      font-size: 2.4rem;
      padding: 50px 30px 30px 50px;
    }
  }
  .streg-1 {
    border-bottom: 2px solid var(--mørke-orange);
  }

  .streg-2 {
    border-bottom: 2px solid var(--mørke-orange);
  }
  .grid {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_1_1 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    h1 {
      padding-top: 50px;
    }
  }

  .boks_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(225, 134, 88);
    padding: 1rem;
  }

  .jens {
    max-width: 95%;
  }

  .sociale {
    max-width: 10%;
    gap: 10rem;
    margin-bottom: 5%;
  }

  .medier {
    padding-right: 20px;
    display: flex;
    justify-content: end;
  }

  .pil {
    max-width: 25%;
    justify-self: center;
  }

  .billede {
    margin-bottom: 8%;
    margin-top: 8%;
  }

  .kontakt:hover {
    color: white;
  }

  @media screen and (min-width: 768px) {
    /* streger til dektop */
    .flex-kontakt {
      border-bottom: 3px solid var(--mørke-orange);
    }
    .streg-1 {
      border-bottom: 3px solid var(--mørke-orange);
      border-right: 3px solid var(--mørke-orange);
    }

    .streg-2 {
      border-bottom: 3px solid var(--mørke-orange);
    }
    .grid_1_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 4%;
      border-bottom: 3px solid rgb(193, 99, 31);
    }
    .grid {
      align-items: stretch;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .boks {
      padding: 5rem;
      border-right: 3px solid rgb(193, 99, 31);
      border-top: 3px solid rgb(193, 99, 31);
    }
    .billede {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 18%;
    }
  }
</style>
