---
import Boks from "../komponenter/Boks.astro";
import Menylayout from "../komponenter/layouts/Menylayout.astro";
import Omboks from "../komponenter/Omboks.astro";
import Kontaktlink from "../komponenter/Kontaktlink.astro";
---

<Menylayout>
  <section class="grid_1_1">
    <div class="titel">
      <h1 class="desk_h1">
        MØD MANDEN <br /> BAG <span class="skrå-orange"> DREJ</span>
      </h1>
    </div>
    <div>
      <img class="jens" src="../../drej-billeder/drej.webp" alt="" />
    </div>
  </section>

  <Boks sorttext="PASSION FOR" hvidtext="træ">
    <p>
      Velkommen til drej-by-jk - det hyggelige pensionistdrejeværksted i hjertet
      af Kregme, hvor træ forvandling er vores lidenskab.
    </p>
    <p>
      Vi finder glæde i at skabe unikke og smukke genstande fra det bedste
      danske træ, lige fra skoven til vores drejebænk.
    </p>
  </Boks>

  <div class="grid">
    <div class="streg-1">
      <Omboks
        h3text="Naturens smukke former"
        text1="Denne røde tråd i mit liv har været en stor interesse for det grønne. Fra en barndom på landet og en ungdom som skovarbejder i Canada, videre til uddannelse på Landbohøjskolen og forsker på universitet og nu på værkstedet i Kregme."
        text2="Hele vejen har jeg været dybt fascineret af naturens magiske former og fantastiske egenskaber. Når vi mennesker arbejder med naturen, er det vores vigtigste opgave at få naturen til at stå stærkere og flottere."
      />
    </div>
    <div class="streg-2">
      <section class="grid_1_1">
        <div class="billede">
          <img src="../../drej-billeder/jensom-2.webp" alt="" />
        </div>
        <div class="billede">
          <img src="../../drej-billeder/jensom.webp" alt="" />
        </div>
      </section>
    </div>
    <div class="streg-1">
      <Omboks
        h3text="KIG FORBI"
        text1="Du kan lave en aftale om et besøg på vores værksted. Kom gerne forbi vi og se, hvordan vi arbejder med træet. Og faktisk må du ikke bare kigge på. Du får også lov til at røre."
        text2="Du kan også kigge forbi, når vi sælger vores skåle og fade på Kildemarkedet i Tisvilde i august og julemarkedet på Grønnessegaard Gods."
      />
    </div>
    <div class="flex-kontakt">
      <h4>Følg med for at se hvor vi er <br /> næste gang</h4>
      <div class="medier">
        <a
          href="https://www.facebook.com/profile.php?id=61559874926503&rdid=aXCWmXzfn2HaHiFW&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FwMnQqBHEcr61M1NK"
          ><img src="/./drej-billeder/face-footer.png" alt="Facebook" /></a
        >
        <a
          href="https://www.instagram.com/drej_by_jk/?utm_source=ig_web_button_share_sheet"
          ><img src="/./drej-billeder/insta-footer.png" alt="Instagram" /></a
        >
      </div>
      <div class="farve">
        <Kontaktlink />
      </div>
    </div>
  </div>
  <section class="grid_1_1_1">
    <div class="billede">
      <img src="../../drej-billeder/jens.webp" alt="" />
    </div>
    <div class="billede">
      <img src="../../drej-billeder/salg.webp" alt="" />
    </div>
    <div class="billede">
      <img src="../../drej-billeder/skur.webp" alt="" />
    </div>
  </section>
</Menylayout>

<style>
  /* kontakt */
  .farve {
    background-color: var(--lyse-orange);
  }
  .flex-kontakt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: var(--border-2px);

    h4 {
      font-size: 2.4rem;
      padding: 50px 30px 30px 50px;
    }
  }
  .streg-1 {
    border-bottom: var(--border-2px);
  }

  .streg-2 {
    border-bottom: var(--border-2px);
  }
  .grid {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_1_1 {
    padding: 50px 30px 0px 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    /* border-bottom: var(--border-2px); */
    h1 {
      padding-top: 50px;
    }
  }

  .boks_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(225, 134, 88);
    padding: 20px;
    p {
      font-style: italic;
      font-size: 1.5rem;
      font-family: "argent-cf", serif;
      font-weight: 200;
      text-transform: uppercase;
      color: var(--sort, #000000);
    }
    a img {
      display: flex;
      padding-top: 20px;
      align-items: center;
    }
  }

  .medier {
    padding-right: 50px;
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  .grid_1_1_1 {
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: var(--border-2px);
    img {
      max-width: 60%;
      align-self: center;
    }
  }
  .billede {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    /* streger til dektop */
    .flex-kontakt {
      border-bottom: var(--border-3px);
    }
    .streg-1 {
      border-bottom: var(--border-3px);
      border-right: var(--border-3px);
    }

    .streg-2 {
      border-bottom: var(--border-3px);
    }
    .grid_1_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 4%;
      border-bottom: var(--border-3px);
    }
    .grid {
      align-items: stretch;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .boks {
      padding: 5rem;
      border-right: var(--border-3px);
      border-top: var(--border-3px);
    }

    h1 {
      padding-top: 100px;
    }
  }
</style>
