---
import "../styles/generel.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../styles/generel.css" />
    <title>produktliste</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Hvert produkt er <span class="orange">UNIKT</span></h1>
    </main>
    <footer></footer>
  </body>
</html>



<style>
h1 {
    font-size: 24px; 
    font-weight: bold; 
}

.orange {
    color:#c1631f;
    text-transform: uppercase; 
}
</style>