---
const { title } = Astro.props;
import Nav from "../Nav.astro";
import "../../styles/generel.css"
import "../../styles/layout.css";
import "../../styles/style.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/gfp2kxu.css" />
    <link rel="stylesheet" href="https://use.typekit.net/gfp2kxu.css" />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
  </body>
</html>
